#!/bin/sh

{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "fedora" }}
# Fedora-specific code

set -e # -e: exit on error

sudo dnf copr enable atim/starship -y
sudo dnf config-manager --add-repo https://mise.jdx.dev/rpm/mise.repo -y
sudo dnf update -y

sudo dnf install -y \
    flatpak \
    git \
    util-linux-user \
    openssh-askpass \
    zsh \
    ripgrep \
    patch \
    lm_sensors \
    hddtemp \
    nvme-cli \
    neofetch \
    ncdu \
    rsync \
    pwgen \
    mc \
    direnv \
    htop \
    alacritty \
    jq \
    dnf-plugins-core \
    ffmpeg-free \
    fzf \
    starship \
    distrobox \
    neovim \
    nodejs \ # nodejs needed for https://github.com/derekstride/tree-sitter-sql
    golang \
    gnome-extensions-app \
    mise \
    bsdtar \
    compat-lua-devel-5.1.5 # https://github.com/vhyrro/luarocks.nvim?tab=readme-ov-file#requirements

sudo dnf copr enable vstanek/gnome-info-collect -y
sudo dnf install gnome-info-collect -y

flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

flatpak install -y flathub com.bitwarden.desktop
flatpak install -y flathub com.discordapp.Discord
flatpak install -y flathub com.microsoft.Teams
flatpak install -y flathub com.slack.Slack
flatpak install -y flathub com.spotify.Client
flatpak install -y flathub im.riot.Riot
flatpak install -y flathub net.cozic.joplin_desktop
flatpak install -y flathub org.chromium.Chromium
flatpak install -y flathub org.signal.Signal
flatpak install -y flathub org.telegram.desktop
flatpak install -y flathub org.videolan.VLC
flatpak install -y flathub com.github.eneshecan.WhatsAppForLinux
flatpak install -y com.mattermost.Desktop
flatpak install -y flathub org.gimp.GIMP
flatpak install -y md.obsidian.Obsidian
flatpak install flathub com.github.rajsolai.textsnatcher

# https://github.com/stephane-klein/dotfiles/issues/67
sudo flatpak override --env=MOZ_ENABLE_WAYLAND=1

# Install Docker (see https://docs.docker.com/engine/install/fedora/)
# https://developer.fedoraproject.org/tools/docker/docker-installation.html
sudo dnf remove -y podman
sudo dnf config-manager -y --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
sudo dnf install -y docker-ce docker-ce-cli containerd.io docker-compose-plugin iptables fuse-overlayfs docker-compose

# https://docs.docker.com/engine/install/linux-postinstall/
sudo groupadd docker
sudo gpasswd -a ${USER} docker  # Note: I am not sure that this line is useful
sudo usermod -aG docker $USER
sudo systemctl enable docker
newgrp docker
sudo systemctl restart docker

# neovim dependencies: ripgrep

chsh -s $(which zsh)
if ! [ -d ~/.oh-my-zsh ]; then
    CHSH=no sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

if ! [ -d ~/.oh-my-zsh/custom}/plugins/pnpm ]; then
    mkdir -p ~/.oh-my-zsh/custom}/plugins/pnpm
    git clone --depth=1 https://github.com/ntnyq/omz-plugin-pnpm.git ~/.oh-my-zsh/custom/plugins/pnpm
fi

# Install https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Hack
# More info about this method here: https://discussion.fedoraproject.org/t/alacritty-hack-nerd-font-mono-issues/79239/6
sudo dnf copr enable zawertun/hack-fonts -y
sudo dnf install hack-fonts

# Install neovim dependencies
if ! [ -d ~/.local/share/nvim/site/pack/packer/start/packer.nvim ]; then
    git clone --depth 1 https://github.com/wbthomason/packer.nvim\
     ~/.local/share/nvim/site/pack/packer/start/packer.nvim
fi

# Install Neovim package with Packer
PACKER_INSTALL_ONLY=1 nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'

if ! [ -d ~/.local/share-trial/nvim/site/pack/packer/start/packer.nvim ]; then
# Install neovim dependencies for nvim trial instance
    git clone --depth 1 https://github.com/wbthomason/packer.nvim\
     ~/.local/share-trial/nvim/site/pack/packer/start/packer.nvim
fi

echo "Launch 'source ~/.zshrc' to reload zsh configuration"
echo "User added to docker group, then you need to restart session"

# Load GNOME keyboard shortcuts and other desktop settings
dconf load / < gnome-settings.ini

# https://old.reddit.com/r/Fedora/comments/1aod454/to_fix_a_kernel_issue_how_can_i_safely_downgrade/kpyz6xi/
sudo sed -i -r "s/^installonly_limit=.*$/installonly_limit=8/" /etc/dnf/dnf.conf

{{   end }}
{{ end }}
