#!/bin/sh

{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "fedora" }}
# Fedora-specific code

sudo dnf update -y
sudo dnf install git util-linux-user zsh

set -e # -e: exit on error

chsh -s $(which zsh)
if ! [ -d ~/.oh-my-zsh ]; then
    CHSH=no sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

{{   end }}
{{ end }}
