if [ -f .secret ]; then
    source .secret

    export SCW_ACCESS_KEY=SCWPNWEE2G7M1H83QQ92
    export SCW_DEFAULT_ORGANIZATION_ID=215d7434-7429-43e4-b93f-edfd57e2677d
    export SCW_DEFAULT_PROJECT_ID=8fa54359-b2fe-44f7-a9a0-97e34a55f025
    export RCLONE_CONFIG_SCALEWAY_TYPE=s3
    export RCLONE_CONFIG_SCALEWAY_PROVIDER=Other
    export RCLONE_CONFIG_SCALEWAY_ACCESS_KEY_ID=$SCW_ACCESS_KEY
    export RCLONE_CONFIG_SCALEWAY_SECRET_ACCESS_KEY=$SCW_SECRET_KEY
    export RCLONE_CONFIG_SCALEWAY_ENDPOINT=https://s3.fr-par.scw.cloud
    export RCLONE_CONFIG_SCALEWAY_REGION=fr-par
fi

