window:
  decorations: none

# On ArchLinux, install this font with "yay -S nerd-fonts-complete"
# On MacOS, install this font with "brew install font-hack-nerd-font"
font:
  normal:
    family: Hack Nerd Font Mono
    style: Regular

  bold:
    family: Hack Nerd Font Mono
    style: Bold

  italic:
    family: Hack Nerd Font Mono
    style: Italic

  bold_italic:
    family: Hack Nerd Font Mono
    style: Bold Italic

  size: 11

shell:
  #program: /usr/local/bin/tmux
{{ if eq .chezmoi.os "darwin" }}
  program: /opt/homebrew/bin/tmux
{{ end }}
{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "fedora" }}
  program: /bin/zsh
{{   end }}
{{ end }}

env:
  TERM: alacritty

key_bindings:
{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "fedora" }}
  - { key: Home,                    mode: Vi, action: Left, }
  - { key: End,                     mode: Vi, action: Right }
{{   end }}
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
  - { key: Grave, mods: Alt, chars: "~" }
  - { key: Minus, mods: Alt, chars: "_" }
  - { key: 6, mods: Alt, chars: "\\"}
  - { key: 12, mods: Alt, chars: "|"}
  - { key: 7, mods: Alt, chars: "{"}
  - { key: 8, mods: Alt, chars: "}"}
  - { key: 19, mods: Alt, chars: "<"}
  - { key: 20, mods: Alt, chars: ">"}
  - { key: 21, mods: Alt, chars: "["}
  - { key: 23, mods: Alt, chars: "]"}
  - { key: 22, mods: Alt, chars: "^"}
  - { key: 14, mods: Alt, chars: "&"}
  - { key: Home, mode: Vi, action: Left}
  - { key: End, mode: Vi, action: Right}
{{ end }}


# Tokyonight Alacritty Colors (https://github.com/folke/tokyonight.nvim/blob/main/extras/alacritty_tokyonight_night.yml)
colors:
  # Default colors
  primary:
    background: '0x1a1b26'
    foreground: '0xc0caf5'

  # Normal colors
  normal:
    black:   '0x15161E'
    red:     '0xf7768e'
    green:   '0x9ece6a'
    yellow:  '0xe0af68'
    blue:    '0x7aa2f7'
    magenta: '0xbb9af7'
    cyan:    '0x7dcfff'
    white:   '0xa9b1d6'

  # Bright colors
  bright:
    black:   '0x414868'
    red:     '0xf7768e'
    green:   '0x9ece6a'
    yellow:  '0xe0af68'
    blue:    '0x7aa2f7'
    magenta: '0xbb9af7'
    cyan:    '0x7dcfff'
    white:   '0xc0caf5'

  indexed_colors:
    - { index: 16, color: '0xff9e64' }
    - { index: 17, color: '0xdb4b4b' }
