window:
  decorations: none

# On ArchLinux, install this font with "yay -S nerd-fonts-complete"
# On MacOS, install this font with "brew install font-hack-nerd-font"
font:
  normal:
    family: Hack Nerd Font Mono
    style: Regular

  bold:
    family: Hack Nerd Font Mono
    style: Bold

  italic:
    family: Hack Nerd Font Mono
    style: Italic

  bold_italic:
    family: Hack Nerd Font Mono
    style: Bold Italic

  size: 11

shell:
  #program: /usr/local/bin/tmux
{{ if eq .chezmoi.os "darwin" }}
  program: /opt/homebrew/bin/tmux
{{ end }}
{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "fedora" }}
  program: /bin/zsh
{{   end }}
{{ end }}

env:
  TERM: alacritty

key_bindings:
{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "fedora" }}
  - { key: Home,                    mode: Vi, action: Left, }
  - { key: End,                     mode: Vi, action: Right }
{{   end }}
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
  - { key: Grave, mods: Alt, chars: "~" }
  - { key: Minus, mods: Alt, chars: "_" }
  - { key: 6, mods: Alt, chars: "\\"}
  - { key: 12, mods: Alt, chars: "|"}
  - { key: 7, mods: Alt, chars: "{"}
  - { key: 8, mods: Alt, chars: "}"}
  - { key: 19, mods: Alt, chars: "<"}
  - { key: 20, mods: Alt, chars: ">"}
  - { key: 21, mods: Alt, chars: "["}
  - { key: 23, mods: Alt, chars: "]"}
  - { key: 22, mods: Alt, chars: "^"}
  - { key: 14, mods: Alt, chars: "&"}
  - { key: Home, mode: Vi, action: Left}
  - { key: End, mode: Vi, action: Right}
{{ end }}

# Kanagawa Alacritty Colors (https://github.com/rebelot/kanagawa.nvim/blob/master/extras/alacritty_kanagawa.yml)
colors:
  primary:
    background: '0x1f1f28'
    foreground: '0xdcd7ba'

  normal:
    black:   '0x090618'
    red:     '0xc34043'
    green:   '0x76946a'
    yellow:  '0xc0a36e'
    blue:    '0x7e9cd8'
    magenta: '0x957fb8'
    cyan:    '0x6a9589'
    white:   '0xc8c093'

  bright:
    black:   '0x727169'
    red:     '0xe82424'
    green:   '0x98bb6c'
    yellow:  '0xe6c384'
    blue:    '0x7fb4ca'
    magenta: '0x938aa9'
    cyan:    '0x7aa89f'
    white:   '0xdcd7ba'

  selection:
    background: '0x2d4f67'
    foreground: '0xc8c093'

  indexed_colors:
    - { index: 16, color: '0xffa066' }
    - { index: 17, color: '0xff5d62' }
